html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Times, serif !important;
}

:root {
--main-color:#00B5E4; 
}
.login_area {
  width: 518px;
  height: 339px;
  border-radius: 5px;
  background-color: white;
}
.icon_chiq {
background-color:transparent;
border: none;
color: white;
padding:10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.login_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 97px;
}
.sektor_text {  
  text-transform: uppercase;
  color: #00B5E4;
  margin-left: 10px;
}
.input-container {
  display: flex;
  border-radius: 3px;
  width: 100%;
  padding: 0 10px;
  background-color: #E3F9FF;
  margin-bottom: 15px;
}
th {
  text-align: center !important ;
}
/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
    outline: none;
    border: none;
  width: 100%;
  padding: 10px;
  color: #00A5D0 !important;
  outline: none;
  background-color: #E3F9FF;
}
.input-field::placeholder {
    color: #00A5D0;
}
.input-field:focus {

}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.login_btn {
  background: linear-gradient(270deg, #1BC6F2 0%, #00B5E4 100%);
  border-radius: 3px;
  outline: none;
  border: none;
  color: white;
  padding: 10px 45px;
  cursor: pointer;
}
.navbar {
  background-color: #00B5E4;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 52px;
}

h5 {
  color: white;
}
ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
  flex-direction: row;
}
ul li {
  color: white;
}
.ot_btn {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto;
  padding: 10px 20px;
  border-radius: 3px;
  background: linear-gradient(270deg, #1BC6F2 0%, #00B5E4 100%);
  border: none;
  outline: none;
  margin: 5px;
}
.ot_btn:first-child {
  margin-right: 0;
}
.ot_btns {
  text-align: center;
  margin: 10px;
}
table {
  border-collapse: collapse;
}
table th {
  font-weight: 400;
  padding: 5px;
  border: 1px solid #ddd;
}
td {
  height: 35px;
  border: 1px solid #ddd;
  text-align: center;
}
.btn_tan {
  background: #FFDB7F;
  color: #656565;
}
.print_con {
  width: 841px;
  margin: 0 auto;
  font-family: 'Times New Roman' !important;
  text-align: center;
  font-size: 17px;
  border: 2px solid white;
  padding: 30px;
}
.print_con_no_b {
  width: 841px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif !important;
  text-align: justify;
  font-size: 17px;
  border: none;
  padding: 30px;
}
ol {
  margin: 0;
}
h3 {
  margin: 2px;
  font-weight: 600;
}

ol li {
  padding: 0 2px;
}
.tasdiq {
  display: flex;
  text-align: right;
  width: 33.3333%;
  align-items: center ;
  padding: 10px;
}
.tasdiq_con {
  display: flex;
  justify-content: center;
}
.hot_btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* tbody {
  background-image: linear-gradient(to bottom,#99FFE7, #FFF9C3, #fdc0c0);
} */

.cen {
  flex-grow: 4 !important;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6  {
  font-weight: 0 !important;
}
p {
  margin: 0 !important;
}